<!DOCTYPE html> 

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="refresh" content="10">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <title> IoT | v {{ version }}</title>
    </head>
    <body>
        <h1> IoT project | version {{ version }}</h1>
        <hr>
        <pre><a href="/realtime">realtime</a></pre>
        <pre><a href="/history">history</a></pre>
    </body>
</html>